{% extends 'base.html.twig' %}

{% block title %}
	E-mail de réinitialisation du mot de passe envoyé
{% endblock %}

{% block body %}
	<style>
		span {
			color: #b26f66;
			font-weight: 100px;
		}
	</style>
	<section class="articles1">
		<p style="color:#333;">
			S'il existe un compte correspondant à votre adresse e-mail, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
			<span>
				Ce lien expirera dans
				{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
				.
			</span>

			<br>
			Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou
			<a href="{{ path('app_forgot_password_request') }}">
				<span>
					RÉESSAYER
				</span>
			</a>
			.
		</p>
	</section>

{% endblock %}
