{% extends 'base.html.twig' %}

{% block title %}
	Réinitialisez votre mot de passe
{% endblock %}

{% block body %}

	<style>
		.coolinput {
			display: flex;
			flex-direction: column;
			width: fit-content;
			position: static;
			width: 100%;
		}

		.coolinput .text {
			font-size: 1.5rem;
			color: #b26f66;
			font-weight: 700;
			position: relative;
			top: 0.5rem;
			margin: 0 0 0 7px;
			padding: 0 3px;
			background: #e8e8e8;
			width: fit-content;
		}

		.coolinput input[type=password].input {
			padding: 11px 10px;
			font-size: 2rem;
			border: 2px #b26f66 solid;
			border-radius: 5px;
			background: #e8e8e8;
			color: black;
		}

		.coolinput input[type=password].input:focus {
			outline: none;
		}

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			color: whitesmoke;
			background-color: #b26f66;
			text-decoration: none;
			font-weight: bold;
			text-align: center;
			border: 2px solid transparent;
			padding: 13px 30px;
			border-radius: 30px;
			transition: 0.4s;
		}

		button:hover {
			background-color: transparent;
			border: 2px solid #b26f66;
			cursor: pointer;
			color: #333;
		}

		.button-container {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	</style>
	<section class="articles1">
		<h2 style="text-align:center;color:#333;">
			Réinitialisez votre mot de passe
		</h2>

		{{ form_start(ChangePasswordForm) }}
		<div class="coolinput">
			{{ form_row(ChangePasswordForm.plainPassword,{'attr' : {'class': 'input','type':'email','style' : 'width :100%;text-align:center;'}}
			) }}
		</div>
		<div class="button-container">
			<a href="{{path("app_forgot_password_request")}}" style="text-decoration:none;">
				<button type="button">
					Réinitialiser le mot de passe
				</button>
			</a>
		</div>
		{{ form_end(ChangePasswordForm) }}
	</section>
{% endblock %}
